In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
from sklearn import tree, model_selection

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
combine = [train_df, test_df]

In [3]:
# preview the data
print(train_df.info())
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_df = train_df.drop(['Name'], axis=1)
test_df = test_df.drop(['Name'], axis=1)
combine = [train_df, test_df]
train_df.shape, test_df.shape

((891, 11), (418, 10))

In [5]:
# preview the data
print(train_df.info())
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.6+ KB
None

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
test_df["Fare"] = test_df["Fare"].fillna(test_df["Fare"].dropna().median())
test_df["Age"] = test_df["Age"].fillna(test_df["Age"].dropna().median())
test_df.loc[test_df["Sex"] == "male", "Sex"] = 0
test_df.loc[test_df["Sex"] == "female", "Sex"] = 1
test_df["Age"] = test_df["Age"].fillna(test_df["Age"].dropna().median())
test_df["Embarked"] = train_df["Embarked"].fillna("S")
test_df.loc[test_df["Embarked"] == "S", "Embarked"] = 0
test_df.loc[test_df["Embarked"] == "C", "Embarked"] = 1
test_df.loc[test_df["Embarked"] == "Q", "Embarked"] = 2

In [7]:
train_df.loc[train_df["Sex"] == "male", "Sex"] = 0
train_df.loc[train_df["Sex"] == "female", "Sex"] = 1
train_df["Age"] = train_df["Age"].fillna(train_df["Age"].dropna().median())
train_df["Embarked"] = train_df["Embarked"].fillna("S")
train_df.loc[train_df["Embarked"] == "S", "Embarked"] = 0
train_df.loc[train_df["Embarked"] == "C", "Embarked"] = 1
train_df.loc[train_df["Embarked"] == "Q", "Embarked"] = 2

In [8]:
train_df = train_df.drop(['Ticket', 'Cabin'], axis=1)
test_df = test_df.drop(['Ticket', 'Cabin'], axis=1)
train_df = train_df.dropna()
#test_df = test_df.dropna()

In [9]:
print(train_df.head())
print(train_df.info())
print(test_df.info())

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    0  22.0      1      0   7.2500         0
1            2         1       1    1  38.0      1      0  71.2833         1
2            3         1       3    1  26.0      0      0   7.9250         0
3            4         1       1    1  35.0      1      0  53.1000         0
4            5         0       3    0  35.0      0      0   8.0500         0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null int64
dtypes: float64(2), int64(7)
memory usage: 69.6 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
Embarked       418 non-null int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB
None

In [10]:
target = train_df["Survived"].values
features = train_df[["Pclass", "Sex", "Age"]].values

decision_tree = tree.DecisionTreeClassifier(random_state = 1)
decision_tree = decision_tree.fit(features, target)
tSurvivors = decision_tree.predict(features)
print(decision_tree.feature_importances_)
print(decision_tree.score(features, target))
print(test_df.head())

[0.1827764  0.45666369 0.36055991]
0.877665544332211
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    0  34.5      0      0   7.8292         0
1          893       3    1  47.0      1      0   7.0000         1
2          894       2    0  62.0      0      0   9.6875         0
3          895       3    0  27.0      0      0   8.6625         0
4          896       3    1  22.0      1      1  12.2875         0

In [11]:
test_features = test_df[["Pclass", "Sex", "Age"]].values
prediction = decision_tree.predict(test_features)

In [12]:
feature_names = ["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch", "Embarked"]
features_two = train_df[feature_names].values
decision_tree_two = tree.DecisionTreeClassifier(
    max_depth = 7,
    min_samples_split = 2,
    random_state = 1)
decision_tree_two = decision_tree_two.fit(features_two, target)

In [13]:
submission=pd.DataFrame(prediction, np.array(test_df["PassengerId"]).astype(int), columns = ["Survived"])

In [14]:
test_features_two = test_df[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch", "Embarked"]].values
prediction_two = decision_tree_two.predict(test_features_two)
submission=pd.DataFrame(prediction_two, np.array(test_df["PassengerId"]).astype(int), columns = ["Survived"])

In [15]:
submission.to_csv('submission.csv', index_label = ["PassengerId"])

In [16]:
print(test_df.info())
print(test_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
Embarked       418 non-null int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB
None
     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0            892       3    0  34.5      0      0    7.8292         0
1            893       3    1  47.0      1      0    7.0000         1
2            894       2    0  62.0      0      0    9.6875         0
3            895       3    0  27.0      0      0    8.6625         0
4            896       3    1  22.0      1      1   12.2875         0
5            897       3    0  14.0      0      0    9.2250         2
6            898       3    1  30.0      0      0    7.6292         0
7            899       2    0  26.0      1      1   29.0000         0
8            900       3    1  18.0      0      0    7.2292         0
9            901       3    0  21.0      2      0   24.1500         1
10           902       3    0  27.0      0      0    7.8958         0
11           903       1    0  46.0      0      0   26.0000         0
12           904       1    1  23.0      1      0   82.2667         0
13           905       2    0  63.0      1      0   26.0000         0
14           906       1    1  47.0      1      0   61.1750         0
15           907       2    1  24.0      1      0   27.7208         0
16           908       2    0  35.0      0      0   12.3500         2
17           909       3    0  21.0      0      0    7.2250         0
18           910       3    1  27.0      1      0    7.9250         0
19           911       3    1  45.0      0      0    7.2250         1
20           912       1    0  55.0      1      0   59.4000         0
21           913       3    0   9.0      0      1    3.1708         0
22           914       1    1  27.0      0      0   31.6833         2
23           915       1    0  21.0      0      1   61.3792         0
24           916       1    1  48.0      1      3  262.3750         0
25           917       3    0  50.0      1      0   14.5000         0
26           918       1    1  22.0      0      1   61.9792         1
27           919       3    0  22.5      0      0    7.2250         0
28           920       1    0  41.0      0      0   30.5000         2
29           921       3    0  27.0      2      0   21.6792         0
..           ...     ...  ...   ...    ...    ...       ...       ...
388         1280       3    0  21.0      0      0    7.7500         2
389         1281       3    0   6.0      3      1   21.0750         1
390         1282       1    0  23.0      0      0   93.5000         0
391         1283       1    1  51.0      0      1   39.4000         0
392         1284       3    0  13.0      0      2   20.2500         0
393         1285       2    0  47.0      0      0   10.5000         1
394         1286       3    0  29.0      3      1   22.0250         0
395         1287       1    1  18.0      1      0   60.0000         0
396         1288       3    0  24.0      0      0    7.2500         0
397         1289       1    1  48.0      1      1   79.2000         0
398         1290       3    0  22.0      0      0    7.7750         0
399         1291       3    0  31.0      0      0    7.7333         0
400         1292       1    1  30.0      0      0  164.8667         0
401         1293       2    0  38.0      1      0   21.0000         0
402         1294       1    1  22.0      0      1   59.4000         0
403         1295       1    0  17.0      0      0   47.1000         0
404         1296       1    0  43.0      1      0   27.7208         0
405         1297       2    0  20.0      0      0   13.8625         0
406         1298       2    0  23.0      1      0   10.5000         0
407         1299       1    0  50.0      1      1  211.5000         0
408         1300       3    1  27.0      0      0    7.7208         0
409         1301       3    1   3.0      1      1   13.7750         0
410         1302       3    1  27.0      0      0    7.7500         0
411         1303       1    1  37.0      1      0   90.0000         2
412         1304       3    1  28.0      0      0    7.7750         2
413         1305       3    0  27.0      0      0    8.0500         0
414         1306       1    1  39.0      0      0  108.9000         0
415         1307       3    0  38.5      0      0    7.2500         0
416         1308       3    0  27.0      0      0    8.0500         0
417         1309       3    0  27.0      1      1   22.3583         0

[418 rows x 8 columns]